<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460544418497-dkpoocgiq08b9dpdgf2bv29p9oo88bdi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460544418497-dkpoocgiq08b9dpdgf2bv29p9oo88bdi</string>
	<key>API_KEY</key>
	<string>AIzaSyBh8ZV6ALPYMG_ZBOxm2TsxjTImiZbWteI</string>
	<key>GCM_SENDER_ID</key>
	<string>460544418497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bartoszwiteska.cantwait28</string>
	<key>PROJECT_ID</key>
	<string>cantwait421</string>
	<key>STORAGE_BUCKET</key>
	<string>cantwait421.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460544418497:ios:9c1e5df99a08578d00ea40</string>
</dict>
</plist>